p Assignment 3
p 2016/11

hr

p The goal of the assignment, is to create a web site using Sinatra.
p The application will be able to show list of students, add students, edit student information, delete students. and also there will be a logon page.

hr 

p Part 1.  Use the sample code in camino, create the home page similar to sample code, with several menu options. like for example, home, about, contact, students 
p create several route handlers and corresponding erb views. (you can also try slim view too)

hr

p Part 2. add database functions. 
p write code similar to the sample code of week7, add datatbase functions to create functions for listing, adding, editing, deleting, students 

hr

p Part3. add a logon page
p follow the sample page, add login page. in sample page login page is loaded from url by typing
p localhost:4567/login
p you need to change that, so the login page can come up not by typing in URL

hr

p Part 4. deploy your application to Heroku
p follow the deployment procedure content under week7 module, deploy your application to Heroku server.

hr

p Certain images are from the following sources:
p
	a href="https://www.iconfinder.com/icons/44674/graduated_learner_school_student_university_icon#size=128" https://www.iconfinder.com/icons/44674/graduated_learner_school_student_university_icon#size=128
p
	a href="http://www.hrblockdollarsandsense.com/wp-content/themes/dollarsandsense/images/studentFigure.png" http://www.hrblockdollarsandsense.com/wp-content/themes/dollarsandsense/images/studentFigure.png