input type="button" onclick="location.href='/students';" value="Back"
h1= @student.name
input type="button" onclick="location.href='/students/#{@student.id}/edit';" value="Edit"
p ID: #{@student.id}
p Date of Birth: #{@student.dob.strftime("%e %B %Y") if @student.dob}
p Height: #{@student.height/100} m #{@student.height%100} cm
pre= @student.description
form action="/students/#{@student.id}" method="POST"
  input type="hidden" name="_method" value="DELETE"
  input type="submit" value="delete this student"